* {
	margin: 0px;
	font-family: 'Helvetica', sans-serif;
	font-size: 15px;
}

body {
	//background: #eee;
}
header {
	height: 14vh;
	background: #fff !important;
	margin-bottom: 5vh;
}
label {
	color: #004B85;
}
.head_title {
	display: inline;
}
.img_logo {
	/*height: 12vh;*/
	/*width: 11vh;*/
	width: 7%;
	margin-left: 9vh;
	margin-top: 3vh;
}
.sect_wizard {
	margin-top: 5vh;
	background: #fff;
}
.form-well {
	padding: 5vh;
	padding-top: 0px;
}
.h1_title {
	color: #004B85;
	text-align: center;
	margin-top: -100px;
}
h4 {
	color: #004B85;
	text-align: center;
	margin-top: 0px;
}
h5 {
	margin-top: 3vh;
	color: #004B85;
	font-weight: bold;
}
.form_title {
	text-align: left;
	margin-top: 3vh;
	margin-bottom: 4vh;
	color: #004B85;
}
.tab_datoslab {
	margin-top: 5vh;
	width: 100%;
	height: auto;

}
.tab_title, th {
	color: #004B85;
}
table {
	height: auto;
	width: 100%;
	margin-top: 5vh;
}
.nextBtn {
	background: #004B85;
	border-color: #004B85;
	color: #fff;
	display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn_curp {
	margin: 0px 0px 0px 2vh;
}

/*Base*/
.inline {
	display: inline-block;
}
input.form-control {
	border: none;
	border-bottom: 1px solid #A9A9A9;
	border-radius: 0px;
}
select.form-control {
	margin-left: 2vh;
}
input[type='date'] {
	/*display: block;
	width: 100%;*/
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #464a4c;
	background-color: #fff;
	background-image: none;
	/*-webkit-background-clip: padding-box;*/
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
	/*-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;*/
	/*transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;*/
	/*-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;*/
	/*transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;*/
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}


/*input[type='radio'] {
	color: #004B85 !important;
}*/ 
.mgr-5 {
	margin-right: 5vh;
}
.mgl-5 {
	padding-left: 3vh;
}
.radio_rgt {
	margin-right: 1vh;
}
/*.select_style {
	border-radius: 3px;
	margin-left: 4px;
	padding: 2px;
}*/
/*input[value='Siguiente'] {
	background: #004B85;
	border-color: #004B85;
	color: #fff;
	display: inline-block;
	    font-weight: 400;
	    line-height: 1.25;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    border: 1px solid transparent;
	    padding: .5rem 1rem;
	    font-size: 1rem;
	    border-radius: .25rem;
	    -webkit-transition: all .2s ease-in-out;
	    -o-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
}

input[value='Siguiente']:hover {
	background: #0060A9;
}*/


/*Steps*/
/*body {margin-top:40px;}*/
.stepwizard-step p {
	margin-top: 10px;
	color: #004B85;
}
.stepwizard-row {display: table-row;}
.stepwizard {
	display: table;
	width: 50%;
	position: relative;
	margin-left: 30vh;
}
.stepwizard-step button[disabled] {opacity: 1 !important;filter: alpha(opacity=100) !important;}
.stepwizard-row:before {top: 14px;bottom: 0;position: absolute;content: " ";width: 100%;height: 1px;background-color: #ccc;z-order: 0;}
.stepwizard-step {display: table-cell;text-align: center;position: relative;}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}
.btn-circle {

}

.Elemt-tarjeta, .Elemt-dep, .Elemt-pad, .Elemt-Mad, .Elem-herm, 
.Elem-herm-vive, .nombre-vive,.vive, .vive-herm, .hide_nss,
.hide_paterno, .hide_materno, .hide_nombre, .hide_sexo, .hide_fecha,
.hide_civil, .hide_credito, .nxt_personales, #vive-herm1,#vive-herm2,
#vive-herm3, #vive-herm4, #vive-herm5, #vive-herm6, #vive-herm7, #vive-herm8,
#vive-herm9 */{
	visibility: hidden;
}